@{
    ViewData["Title"] = "Statistics";
}
<script src="https://code.highcharts.com/highcharts.js"></script>
@using Highsoft.Web.Mvc.Charts

<div>
    <h2 class="display-4">Statistics</h2><br />
        @foreach (var chartData in (Dictionary<string, List<PieSeriesData>>)ViewBag.ChartData)
        {
            @(Html.Highsoft().GetHighcharts(
                new Highcharts
                {
                    Chart = new Highsoft.Web.Mvc.Charts.Chart
                    {
                        PlotBackgroundColor = null,
                        PlotBorderWidth = null,
                        PlotShadow = new Shadow
                        {
                            Enabled = false
                        }
                    },
                    Title = new Title
                    {
                        Text = chartData.Key
                    },
                    Tooltip = new Tooltip
                    {
                        PointFormat = "{series.name}: <b>{point.percentage:.1f}%</b>"
                    },
                    PlotOptions = new PlotOptions
                    {
                        Pie = new PlotOptionsPie
                        {
                            AllowPointSelect = true,
                            Cursor = PlotOptionsPieCursor.Pointer,
                            DataLabels = new PlotOptionsPieDataLabels
                            {
                                Enabled = true,
                                Format = "<b>{point.name}</b>: {point.percentage:.1f} %"
                            }
                        }
                    },        
                    Series = new List<Series>
                    {                    
                        new PieSeries
                        {                    
                            Name = "Percentual",
                            Data = chartData.Value
                        },
                
                    }
                }
                , chartData.Key)
            )
            <hr />
        }
</div>
